---
import { getCollection } from "astro:content"
import { Picture } from "astro:assets"

import profilePicture from "../assets/profile.webp"
import Layout from "@layouts/Layout.astro"
import Container from "@components/container.astro"
import Sectionhead from "@components/sectionhead.astro"
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Hello!</Fragment>
      <Fragment slot="desc">I'm Douglas Shinzato.</Fragment>
    </Sectionhead>

    <div class="md:grid md:items-center grid-cols-2 gap-12 mt-16">
      <div class="mb-16 text-center md:text-left">
        <h2 class="font-bold text-3xl text-gray-800 mb-6">
          FullStack Software Engineer
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          Meu nome é Douglas e estou em transição de carreira da área de Direito
          para Desenvolvimento de Software. Desde pequeno sempre fui muito
          curioso e aficionado por informática e tecnologia, mas meu interesse
          em me tornar um desenvolvedor começou em meados do ano de 2022. Hoje
          faço parte da turma Explorer da Rocketseat, onde venho solidificando
          meus conhecimentos em HTML, CSS, JavaScript, React.js, Node.js, Git e
          GitHub.
        </p>
      </div>
      <Picture
        src={profilePicture}
        alt="Profile picture"
        class="rounded-md object-cover object-center aspect-square max-w-300 mx-auto"
        width={400}
        height={400}
      />
    </div>
  </Container>
</Layout>
